* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgba(0, 0, 0, 0.2);
}

.ssss {
    color: #3a02d4;
    visibility: visible;
}

.scrlups {
    color: #9ecf0a;
    background-color: #d20b0b;
    visibility: visible;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

/* header */
.head-container {
    width: 100% auto;
}

.head-style {
    justify-content: space-between;
    padding: 2rem 6rem;
    background-color: rgb(255, 253, 253);
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 1;
    top: 0;
}

.head-style li,
a {
    padding: 0.5rem;
    list-style: none;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: black;
    transition: all 0.6s ease-in-out;
    border-radius: 2rem;
}

.head-style li:hover {
    color: #FDBD01;
    animation: shake 0.7s;
    animation-iteration-count: 0.5s;

}

.head-style h1 {
    font-size: 3rem;
    font-weight: 900;
}

.head-style span {
    color: #cf0a0a;
}

/* sear result */
.search-result {
    position: absolute;
    right: 6.3rem;
    top: 4.1rem;
    padding: 2rem 4rem;
    border-radius: 0.5rem;
}

.search-result li {
    font-size: 1rem;
}

.search-result:hover li {
    text-decoration: none;
    border-radius: 0;
    color: #000;
    background-color: rgba(0, 0, 0, 0.2);
}

.search-result ul {
    display: block;
}

/* end */
.searchbar-header {
    margin: 0.6rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    width: 100%;
    position: relative;
}

.searchbar-header::placeholder {
    color: black;
    padding: 0.2rem;
}

.head-search {
    border-radius: 0.5rem;
}

.head-search i {
    position: absolute;
    color: #FDBD01;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1.4rem;
    right: 5.5rem;
    top: 25.7rem;
    padding: 0.3rem 0.7rem;
}

.head-style i:hover {
    color: #ffffff;
}

.head-fab-style {
    position: fixed;
    display: flex;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    z-index: 1;
}

.head-btn {
    background: none;
    border: none;
    background-color: rgba(230, 32, 32, 1);
    padding: 1rem;
    border-radius: 50%;
    transition: all 1s ease-in-out;
}

@media(min-width: 1280px) {
    .head-style {
        display: flex;
        /* background-color: transparent; */
    }

    .head-fab-style {
        display: none;
    }

    .head-style ul {
        display: flex;
    }

    .searchbar-header {
        background-color: rgba(255, 253, 253, 0.9);
        color: black;
    }

    /* section wrapper */
    .sec-wrapper {
        padding: 5rem 7rem;
        margin-top: 10rem;
        margin-left: 7rem;
    }

    .sec-1-container {
        width: 100%;
        padding: 0;
        margin: 0;
        position: absolute;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 0.9);
    }

    .sec-wrapper .shape {
        width: 100%;
        height: 100%;
    }

    .head-search i {
        right: 5.4rem;
        top: 2.7rem;
        color: #FDBD01;
        background-color: rgba(0, 0, 0, 0.3);
        font-size: 1.5rem;
        padding: 0.3rem;
        border-radius: 0.5rem;

    }
}

/* Section */
.sec-wrapper {
    padding-top: 7rem;
    text-align: center;
    z-index: 1;
}

.shape {
    background-color: #ff0000;
    padding: 0.5rem;
    border-radius: 100%;
    animation: anim;
    transition: all 5s ease-in-out;
    height: 22rem;
}

.sec-wrapper h1 {
    font-size: 3rem;
    color: #b77474;
    text-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.9);
    transition: 0.4s;

}

.sec-wrapper span {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0.2rem 0.3rem 0.2rem rgba(123, 112, 112, 0.9);
    transition: 0.4s;
}

.sec-wrapper a {
    font-size: 3rem;
}

#social {
    padding-top: 2rem;
    padding: 2rem;
}

#social a {
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: #000000;
    background: rgba(255, 253, 253, 0.8);
}

.sec-wrapper p {
    color: #fffdfd;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.4rem 0.3rem rgb(255, 253, 253, 0.4);
}

.sec-wrapper a span {
    color: #ffffff;
    transition: all 0.7s ease-in-out;
    text-shadow: 0.2rem 0.6rem 0.7rem rgba(0, 0, 0, 0.9);
}

.sec-1-container {
    padding: 0;
    margin: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: -1;
}
.sec-wrapper p:hover{
    background-color: rgba(255, 254, 254, 0.3);
    color: #000000;
    animation: shake 0.5s;
    animation-iteration-count: 0.5s;
    text-shadow: 0.5rem 0.5rem 0.3rem #ffffff;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.3rem rgba(0, 0, 0, 0.8);
}

.sec-1-container::after {
    content: 'Jhonn Marru';
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: rgba(213, 10, 10, 0.9);
    transform: skewY(-22deg);
    top: 30%;
    z-index: -1;
}

.shape:hover {
    transform: rotate(360deg);
}

.sec-wrapper span:hover {
    color: #FDBD01;
    padding: 0.5rem;

}

/* sec container */
.sec-container {
    margin: 10rem auto;
    border: 2px solid rgb(237, 228, 228);
    display: flex;
    width: 90%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.sec-wrapper-style {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
}

.sec-style h1 {
    padding-bottom: 0.5rem;
}

.sec-aboutme {
    padding: 0.8rem 1rem;
}

.sec-aboutme ul {
    list-style: square;
}

/* Section cards */
.sec-style-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.Sec-wrapper {
    width: 100%;
    padding: 1.5rem;
}

.sec-style-cards {
    background: #ffffff;
    border-radius: 2rem;
    border: 1px solid rgba(1, 1, 1, 0.3);
    padding: 5rem 2rem;
    height: 22rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.sec-style-cards::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: all ease 0.8s;
    z-index: 1;
}

.sec-style-cards:hover::before {
    height: 100%;
    z-index: -1;
}

.sec-style-cards:hover>h1 {
    color: #d20b0b;
}

.sec-style-cards:hover>p {
    color: #ffffff;
}

.sec-style-cards>h1,
p {
    padding: 0.5rem;
}

/* Sec Testimonail */
.testi-service-container {
    width: 100%;
    margin: 5rem auto;
}

.testi-cards-style {
    text-align: center;
    text-transform: uppercase;
}

.sec-testi-cointainer {
    width: 90%;
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sec-testi-style {
    width: 100%;
    /* border: 1px solid #000000; */
    margin: 1rem;
    overflow: hidden;
    border-radius: 1rem;
    padding: 2rem 0;
    background: rgb(255, 255, 255);
}

.sec-testi-cards {
    height: 22rem;
    text-align: center;
    padding: 0 2rem;
}

.sec-testi-cards img {
    object-fit: cover;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;

}

.sec-testi-cards h1 {
    padding: 0.5rem;
}

/* footer Content */
.footer-container {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.5rem;
}

.footer-sytle img {
    width: 5rem;
    background-color: #ff0000;
    border-radius: 50%;
}

.footer-sytle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-sytle li {
    display: inline-block;
    padding: 1.5rem;
    color: #fff;
}

.footer-sytle a {
    color: aqua;
}

.footer-top-design {
    padding: 2rem;
    background: #fff;
}

.footer-top-style h1 {
    padding: 1rem;
}

.scrll-btn {
    position: fixed;
    z-index: 0;
    bottom: 12%;
    left: 2%;
}

/* contact form */
.Contact-container {
    background-color: rgba(1, 1, 1, 0.1);
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.contact-style {
    align-items: center;
    display: flex;
}

.contact-style textarea {
    background: rgba(246, 242, 242, 0.8);
    border-radius: 1rem;
    padding: 1rem;
}

.contact-style input {
    margin: 0.7rem 0;
    border-radius: 1rem;
    background: rgb(255, 253, 253, 0.8);
}

.contact-style input[type=text],
input[type=submit],
input[type=email],
textarea {
    padding: 0.7rem;
    width: 100%;
    background: rgba(133, 47, 47, 0.8);
}

.contact-react-style {
    color: #000000;
    font-size: 2.5rem;
    margin: 0 2rem;
    margin-bottom: 2rem;
}

.contact-react-style span {
    background: linear-gradient(80deg, #f50000 5.34%, #1c0d2c 100.78%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media(min-width: 1280px) {
    .sec-testi-style {
        width: 25%;
        margin: 1.5rem;
    }

    .sec-testi-cointainer {
        width: 70%;
    }

    .Sec-wrapper {
        width: 33.33%;
    }

    .contact-style {
        width: 30%;
    }

    .Contact-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-top-design {
        padding: 6rem;
    }
}

/* SIDE BAR */
.sidebar-menu {
    position: absolute;
    z-index: 1;
    top: 20%;
    background: rgba(164, 4, 4, 0.3);
    padding: 1rem;
    margin: 0.5rem;
    color: #FDBD01;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
    display: none;
}

.dropdown {
    display: none;
    transition: 0.5s;
    text-align: center;
    padding: 0 0.2rem;
}
.sidebar-menu:hover .dropdown {
    display: block;
    
}
.dropdown button{
    position: relative;
    text-transform: none;
    background: transparent;
    width: 100%;
    outline: none;
    border-style: none;
    padding: 0.4rem;
    color: #FDBD01;
}
.dropdown:hover {
    color: #e8d670;
    padding-left: 0.5rem;
    transition: all ease 0.2s;
    box-shadow: 0.4rem 0.3rem 0.4rem rgba(0, 0, 0, 0.8);
    background-color: rgba(108, 30, 30, 0.4);
}
.anim{
    width: 20%;
    z-index: 1;
}
.animoff{
    width: 0%;
    opacity: 0;


}
.flex{
    display: block;
    
}
.Phones-dropdown p{
    position: absolute;
    background-color: #fff7f7;
    transition: 0.8s;
    top: 26%;
    left: 12%;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.6rem rgba(105, 88, 88, 0.3);
    z-index: 1;
}
.Phones-dropdown p:hover{
        background-color: rgba(170, 147, 147, 0.3);
        color: #fff;
        padding: 2rem;
        animation: shake 0.5s;
        animation-iteration-count: 0.5s;
}
/* text for transistio */
.text-settings{
    position: absolute;
    width: 20%;
    z-index: 1;
    display: block;
    top: 26%;
    left: 12%;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    z-index: 1;
    transition: 0.9s;
    box-shadow: 0.5rem 0.5rem 0.6rem rgba(105, 88, 88, 0.9);
    border-radius: 1rem;
}
.text-settings:hover{
    padding: 2rem;
    background-color: rgba(170, 147, 147, 0.3);
    color: #fff;
    animation: shake 0.5s;
    animation-iteration-count: 0.5s;
}
.text-hide{
    width: 0;
    opacity: 0;
    left: 25%;
}
.text-show{
    left: 28%;
    opacity: 1;
    width: 20%;  
}
/* pics transition animation */
.pics-show{
    height: 40%;
    width: 100%;
    opacity: 1;
}
.pics-hide{
    height: 0;
    opacity: 0;
}
.Phones-dropdown img{
    position: absolute;
    display: flex;
    left: 12%;
    width: 15%;
    top: 27%;
    z-index: 1;
    border-radius: 1rem;
    transition: 0.7s;
    box-shadow: 0.4rem 0.4rem 0.7rem rgb(255, 253, 253, 0.9);
      /* adjust the below to control the 3D effect */
  --x: 2rem;
  --y: 2rem;
  transform: perspective(1000px) rotateX(var(--_a,30deg));
}
.Phones-dropdown img:hover{
    transform: scale(2);
    opacity: 1;
    animation: shake 0.5s;
    animation-iteration-count: 0.5s;
    filter: i;

}
@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
@media(min-width: 1280px) {
    .sidebar-menu {
        display: block;
    }

}